{% spaceless %}
<a
    title="{% block title %}{% endblock %}"
    class="btn
{% if disabled %}
    inactive
{% endif %}
    cms-versioning-action-btn
    cms-versioning-action-{% block name %}{% endblock %}
    {% if get|default_if_none:True %} cms-form-get-method {% endif %}
    {% if keepsideframe|default_if_none:True %}js-versioning-keep-sideframe {% else %}js-versioning-admin-close-sideframe {% endif %}
    {% if action|default_if_none:True %} js-versioning-action{% endif %}
    "
{% if not disabled %}
    href="{{ url }}"
{% endif %}
>
    <img src="{% block icon %}{% endblock %}">
</a>
{% endspaceless %}
