djangocms-helper
tox
coverage
isort
flake8
factory_boy
django-classy-tags<2.0.0
django-sekizai<2.0.0
git+git://github.com/divio/djangocms-versioning.git#egg=djangocms-versioning
git+git://github.com/FidelityInternational/djangocms-version-locking.git#egg=djangocms-version-locking
git+git://github.com/divio/djangocms-moderation.git#egg=djangocms-moderation
