adminsortable2<1.0.0
coverage
django-classy-tags<2.0.0
django-sekizai<2.0.0
djangocms-helper
flake8
factory_boy
isort
tox

# Unreleased dependancies
https://github.com/divio/django-cms/tarball/release/4.0.x#egg=django-cms
https://github.com/divio/djangocms-versioning/tarball/master#egg=djangocms-versioning
https://github.com/django-cms/djangocms-moderation/tarball/release/1.0.x#egg=djangocms-moderation
https://github.com/FidelityInternational/djangocms-version-locking/tarball/master#egg=djangocms-version-locking
