{% extends "admin/base_site.html" %}
{% load i18n admin_urls static  %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <a href="{% url opts|admin_urlname:'list' menu_content_id %}" class="cms-btn-group">
        {% trans "Back" %}
    </a>
    <br/><br/>

    {% for item, info in annotated_list %}
        {% if info.open %}
            <ul><li>
        {% else %}
            </li><li>
        {% endif %}

        {{ item }}

        {% for close in info.close %}
            </li></ul>
        {% endfor %}
    {% endfor %}
{% endblock %}