{# Used for MP and NS trees #}
{% extends "admin/tree_change_list.html" %}
{% load static admin_list admin_urls cms_static navigation_admin_tree i18n djangocms_versioning %}

{% block extrahead %}
    {{ block.super }}

    {# INFO: To avoid conflicts with adminstyle css we need to add styles here #}
    {# instead of inside "extrastyle" block or admin Media class. #}
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.base.css' %}">
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.pagetree.css' %}">
    
    {# INFO: versioning_static_url_prefix variable is used in versioning actions.js #}
    <script>
        let versioning_static_url_prefix = "{% static "djangocms_versioning/" %}";
    </script>
{% endblock extrahead %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'djangocms_navigation/css/navigation_admin_overrides.css' %}"/>
{% endblock %}

{% block object-tools-items %}
<li>
    <a href="{% url opts|admin_urlname:'add' menu_content.pk %}" class="addlink">
        {% blocktrans with cl.opts.verbose_name as name %}Add  {{ name }}{% endblocktrans %}
    </a>
</li>
<li>
    <a href="{% url opts|admin_urlname:'preview' menu_content.pk %}" class="cms-btn-group">
        {% trans "Preview" %}
    </a>
</li>
{% if versioning_enabled_for_nav %}
<li>
    <a href="{{ menu_content|url_version_list|safe }}">
        {% trans "Versions" %}
    </a>
</li>
{% endif %}
{% endblock %}
