{# Used for MP and NS trees #}
{% extends "admin/tree_change_list.html" %}
{% load admin_list admin_tree i18n djangocms_versioning %}

{% block object-tools-items %}
<li>
    <a href="{% url 'admin:djangocms_navigation_menuitem_add' menu_content.pk %}" class="addlink">
        {% blocktrans with cl.opts.verbose_name as name %}Add  {{ name }}{% endblocktrans %}
    </a>
</li>
{% if versioning_enabled_for_navigation %}
<li>
    <a href="{{ menu_content|url_version_list }}">
        {% trans "Versions" %}
    </a>
</li>
{% endif %}
{% endblock %}
