{# Used for MP and NS trees #}
{% extends "admin/tree_change_list.html" %}
{% load static admin_list admin_urls navigation_admin_tree i18n djangocms_versioning %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'djangocms_navigation/css/navigation_admin_overrides.css' %}"/>
{% endblock %}

{% block extrahead %}
    {% if not treebeard_4_5 %}
    <script src="{% url 'admin:jsi18n' %}"></script>
    <script data-csrftoken="{{ csrf_token }}" src="{% static 'djangocms_navigation/js/navigation-tree-admin.js' %}"></script>
    {% else %}
    {{ block.super }}
    {% endif %}
{% endblock %}

{% block object-tools-items %}
<li>
    <a href="{% url opts|admin_urlname:'add' menu_content.pk %}" class="addlink">
        {% blocktrans with cl.opts.verbose_name as name %}Add  {{ name }}{% endblocktrans %}
    </a>
</li>
<li>
    <a href="{% url opts|admin_urlname:'preview' menu_content.pk %}" class="cms-btn-group">
        {% trans "Preview" %}
    </a>
</li>
{% if versioning_enabled_for_nav %}
<li>
    <a href="{{ menu_content|url_version_list|safe }}">
        {% trans "Versions" %}
    </a>
</li>
{% endif %}
{% endblock %}
