beautifulsoup4
coverage
django-app-helper
factory_boy
flake8
isort
lxml
tox
djangocms-versioning==1.2.2
djangocms-alias==1.11.0
djangocms-references==1.4.1
djangocms-version-locking==1.2.0
django-cms==4.0.1.dev2
djangocms-text-ckeditor==4.0.1.dev1
djangocms-moderation==2.1.5
