beautifulsoup4
coverage
django-app-helper
factory_boy
flake8
isort
lxml
tox
https://github.com/django-cms/django-cms/tarball/4.0.0#egg=django-cms
https://github.com/divio/djangocms-text-ckeditor/tarball/support/4.0.x#egg=djangocms-text-ckeditor
https://github.com/django-cms/djangocms-versioning/tarball/1.2.2#egg=djangocms-versioning
https://github.com/FidelityInternational/djangocms-version-locking/tarball/master#egg=djangocms-version-locking
https://github.com/django-cms/djangocms-moderation/tarball/master#egg=djangocms-moderation
https://github.com/FidelityInternational/djangocms-references/tarball/master#egg=djangocms-references
https://github.com/django-cms/djangocms-alias/tarball/1.11.0#egg=djangocms-alias
